In [1]:
import numpy as np
import pandas as pd

In [5]:
dataset = pd.read_csv("employee.csv",encoding='ISO-8859-1')

In [6]:
dataset.head(3)

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,"$99,975",0%,China,Chongqing,NaN
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",20%,United States,Chicago,NaN

In [7]:
min_age = dataset["Age"].min()
max_age = dataset["Age"].max()

In [8]:
min_age, max_age

(25, 65)

In [9]:
range = max_age - min_age

In [10]:
range

40