In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("carsales.csv")
dataset.head(3)

    Make Colour  Odometer (KM)  Doors    Price
0  Honda  White        35431.0    4.0  15323.0
1    BMW   Blue       192714.0    5.0  19943.0
2  Honda  White        84714.0    4.0  28343.0

In [7]:
dataset.isnull().sum()

Make             49
Colour            0
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [6]:
dataset["Colour"].fillna(dataset["Colour"].mode()[0], inplace=True)

In [10]:
en_data = dataset[["Colour"]]
en_data

    Colour
0    White
1     Blue
2    White
3    White
4     Blue
..     ...
995  Black
996  White
997   Blue
998  White
999   Blue

[1000 rows x 1 columns]

In [12]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Colour_Black  1000 non-null   bool
 1   Colour_Blue   1000 non-null   bool
 2   Colour_Green  1000 non-null   bool
 3   Colour_Red    1000 non-null   bool
 4   Colour_White  1000 non-null   bool
dtypes: bool(5)
memory usage: 5.0 KB

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [23]:
ohe = OneHotEncoder() 
# ohe = OneHotEncoder(drop="first") drop first column of two categorical data like Gender_Male and Gender_Female it drops Gender_male
ar  = ohe.fit_transform(en_data).toarray()

In [22]:
pd.DataFrame(ar,columns=["Colour_Black","Colour_Blue","Colour_Green","Colour_Red","Colour_White"])

     Colour_Black  Colour_Blue  Colour_Green  Colour_Red  Colour_White
0             0.0          0.0           0.0         0.0           1.0
1             0.0          1.0           0.0         0.0           0.0
2             0.0          0.0           0.0         0.0           1.0
3             0.0          0.0           0.0         0.0           1.0
4             0.0          1.0           0.0         0.0           0.0
..            ...          ...           ...         ...           ...
995           1.0          0.0           0.0         0.0           0.0
996           0.0          0.0           0.0         0.0           1.0
997           0.0          1.0           0.0         0.0           0.0
998           0.0          0.0           0.0         0.0           1.0
999           0.0          1.0           0.0         0.0           0.0

[1000 rows x 5 columns]