In [15]:
import pandas as pd

In [16]:
dataset = pd.read_csv("Product.csv")
dataset.head(10)

   ID         Name Rating
0   1        Cream      4
1   2     Hair Oil     4+
2   3      Shampoo      3
3   4         Ghee      4
4   5       Banana     4+
5   6       Butter      3
6   7         Milk      2
7   8       ParleG      1
8   9  Soya Chunks      3
9  10  Sev Murmura      4

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30 non-null     int64
 1   Name    30 non-null     object
 2   Rating  30 non-null     object
dtypes: int64(1), object(2)
memory usage: 848.0+ bytes

In [18]:
dataset.isnull().sum()

ID        0
Name      0
Rating    0
dtype: int64

In [11]:
dataset["Rating"].value_counts()

Rating
3    14
4    10
2     3
1     3
Name: count, dtype: int64

In [19]:
dataset["Rating"].replace("4+","4",inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10884\643823173.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Rating"].replace("4+","4",inplace=True)

In [20]:
dataset["Rating"] = dataset["Rating"].astype("int64") #DataType Conversion

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30 non-null     int64
 1   Name    30 non-null     object
 2   Rating  30 non-null     int64
dtypes: int64(2), object(1)
memory usage: 848.0+ bytes